@font-face {
  font-family: 'Raleway';
  src: url(./static/Raleway-Regular.ttf);
}

.App {
  text-align: center;
  font-family: 'Raleway';
  touch-action: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.menuPautaDetail {
  margin: 0;
  position: absolute;
  top: 50%;
  color: '#ccc';
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 80vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.MuiDialogContent-root.dialog-content-ast {
  padding-left: 0 !important;
  padding-right: 0 !important;
  /* margin: 0 !important;
  padding-top: 0 !important; 
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important; */
}

.slider-images {
  /* height: 100vh;
  margin: 0;
  width: 100%; */
}

.slick-slide {
  width: 100%;
  text-align: center;
}

.slick-slide img {
  display: inherit !important;
  height: 100vh;
}

.border-color-primary {
  border-style: solid;
  border-width: 2px;
  border-color: #be2e26;
}

.item-style {
  color: #be2e26;
}

/* Header */

.header-bar {
  padding-left: 99px;
  height: 80px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  /* z-index: 2; */
}

.nombre {
  font-size: 20px;
  margin: 0px
}

.rol {
  font-size: 18px;
  margin: 0px;
}

.button-font-size {
  font-size: 25px;
  margin-bottom: 0;
  font-weight: 'bold'
}

@media screen and (max-width: 660px) {
  .header-bar {
    padding-left: 15vw;
  }
  .pageCard {
    margin-left: 15vw
  }
}

@media screen and (min-width: 660px) {
  .pageCard {
    margin-left: 99px
  }
}

@media screen and (max-width: 560px) {
  .nombre {
    font-size: 3vw;
  }
  .rol {
    font-size: 2.5vw;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pageRoot {
  height: 90%;
  font-family:'Raleway';
  margin-top: 70px;
}

.pageCard {
  margin-left: 99px;
  font-family:'Raleway';
  border-radius: 0px;
  box-shadow: none;
  padding: 20px;
  overflow-y: auto
}

.noNavBarMargin {
  margin-left: 0px;
}

.loginBacgroundImage {
  background: url(./assets/images/login-bg.png) no-repeat 100% 100%;
  background-position: center;
  background-size: cover;
  float: left;
  width: 50%;
  height: 100vh;
  display: block
}

.pageTitle {
  padding: 40px 0px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  /* color: theme.palette.primary.main */
}
