.root {
    margin-top: 70px;
    height: 90%;
    font-family:'Raleway';
}

.navigation-bar {
    padding-top: 10px;
    width: 100%;
    text-align: 'left';
}

.form-container {
    padding: 0px;
}

.container-width {
    padding-top: 90px;
    padding-left: 100px;
    width: 100%;
    font-family: 'Raleway';
}

.menu-card {
    background-color: #F9F9F9;
    padding: 10px;
    margin-left: 10px;
    border-radius: 30px;
    margin-bottom: 10px;
}

.menu-card h3{
    margin: 5px 0px;
}

@media screen and (max-width: 560px) {
    .container-width {
        padding-left: 80px;
    }
}

@media screen and (max-width: 400px) {
    .container-width {
        padding-left: 60px;
    }
}