model-viewer {
    background-color: #414646;
}

.image {
    height: 0px;
    width: 100% ; 
    transition: opacity 0.5s;
    opacity: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    /*transition: '2s'; */
    /* position: 'absolute'; 
    top: 0px; 
    left: 0px */
}

.cont {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* .imageAppearing {
    height: 100% ;
    opacity: 1
} */